## 收集

In [283]:
import pandas as pd
import os
import requests
import json

In [284]:
twitter_archives = pd.read_csv('twitter-archive-enhanced.csv')
url = 'https://raw.githubusercontent.com/\
udacity/new-dand-advanced-china/master/%E6%95%B0%E6%8D%AE%E6%B8%85%E6%B4%97/\
WeRateDogs%E9%A1%B9%E7%9B%AE/image-predictions.tsv'
if not os.path.isfile('image_predictions.tsv'):
    r = requests.get(url)
    with open('image_predictions.tsv', mode='wb') as file:
        file.write(r.content)
image_predictions = pd.read_csv('image_predictions.tsv', sep='\t')

tweets_list = []
with open('tweet_json.txt') as file:
    for l in file:
        tweet = json.loads(l)
        tweets_list.append({'tweet_id': tweet['id_str'], 
                            'retweet_count':tweet['retweet_count'], 
                            'favorite_count': tweet['favorite_count']})
tweets = pd.DataFrame(tweets_list, columns=['tweet_id','retweet_count','favorite_count'])

## 评估

In [285]:
twitter_archives.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [286]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [287]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2352 entries, 0 to 2351
Data columns (total 3 columns):
tweet_id          2352 non-null object
retweet_count     2352 non-null int64
favorite_count    2352 non-null int64
dtypes: int64(2), object(1)
memory usage: 55.2+ KB

In [288]:
twitter_archives.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [289]:
twitter_archives.rating_numerator.value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [290]:
twitter_archives.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [291]:
image_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

#### 质量
##### `twitter_archives`表格
- `tweet_id`是字符串，而不是int
- `in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,
retweeted_status_timestamp,expanded_urls`是没有用的数据
- `timestamp`错误的数据类型
- `source`有多于的html文本
- `rating_numerator`有错误的评分
- `rating_denominator`中有不为10的值

#### `image_predictions`表格
- `tweet_id`是字符串，而不是int
- 多个可信度预测
- 预测中有不是狗的数据

####  `tweets`表格
#### 清洁度
- `tweets,image_predictions`表中应该是`twitter_archives`表中的一部分
- 表示狗地位的stage:`doggo,pupper,puppo,floofer`,是一列变量

## 清理

In [292]:
twitter_archives_clean = twitter_archives.copy()
image_predictions_clean = image_predictions.copy()
tweets_clean = tweets.copy()

### tweet_id 数据类型统一
##### 定义
`astype`将tweet_id转为`str`

##### 代码

In [293]:
twitter_archives_clean.tweet_id = twitter_archives_clean.tweet_id.astype(str)
image_predictions_clean.tweet_id = image_predictions_clean.tweet_id.astype(str)

##### 测试

In [294]:
twitter_archives_clean.tweet_id

0       892420643555336193
1       892177421306343426
2       891815181378084864
3       891689557279858688
4       891327558926688256
5       891087950875897856
6       890971913173991426
7       890729181411237888
8       890609185150312448
9       890240255349198849
10      890006608113172480
11      889880896479866881
12      889665388333682689
13      889638837579907072
14      889531135344209921
15      889278841981685760
16      888917238123831296
17      888804989199671297
18      888554962724278272
19      888202515573088257
20      888078434458587136
21      887705289381826560
22      887517139158093824
23      887473957103951883
24      887343217045368832
25      887101392804085760
26      886983233522544640
27      886736880519319552
28      886680336477933568
29      886366144734445568
               ...
2326    666411507551481857
2327    666407126856765440
2328    666396247373291520
2329    666373753744588802
2330    666362758909284353
2331    666353288456101888
2332    666345417576210432
2333    666337882303524864
2334    666293911632134144
2335    666287406224695296
2336    666273097616637952
2337    666268910803644416
2338    666104133288665088
2339    666102155909144576
2340    666099513787052032
2341    666094000022159362
2342    666082916733198337
2343    666073100786774016
2344    666071193221509120
2345    666063827256086533
2346    666058600524156928
2347    666057090499244032
2348    666055525042405380
2349    666051853826850816
2350    666050758794694657
2351    666049248165822465
2352    666044226329800704
2353    666033412701032449
2354    666029285002620928
2355    666020888022790149
Name: tweet_id, Length: 2356, dtype: object

In [295]:
image_predictions_clean.tweet_id

0       666020888022790149
1       666029285002620928
2       666033412701032449
3       666044226329800704
4       666049248165822465
5       666050758794694657
6       666051853826850816
7       666055525042405380
8       666057090499244032
9       666058600524156928
10      666063827256086533
11      666071193221509120
12      666073100786774016
13      666082916733198337
14      666094000022159362
15      666099513787052032
16      666102155909144576
17      666104133288665088
18      666268910803644416
19      666273097616637952
20      666287406224695296
21      666293911632134144
22      666337882303524864
23      666345417576210432
24      666353288456101888
25      666362758909284353
26      666373753744588802
27      666396247373291520
28      666407126856765440
29      666411507551481857
               ...
2045    886366144734445568
2046    886680336477933568
2047    886736880519319552
2048    886983233522544640
2049    887101392804085760
2050    887343217045368832
2051    887473957103951883
2052    887517139158093824
2053    887705289381826560
2054    888078434458587136
2055    888202515573088257
2056    888554962724278272
2057    888804989199671297
2058    888917238123831296
2059    889278841981685760
2060    889531135344209921
2061    889638837579907072
2062    889665388333682689
2063    889880896479866881
2064    890006608113172480
2065    890240255349198849
2066    890609185150312448
2067    890729181411237888
2068    890971913173991426
2069    891087950875897856
2070    891327558926688256
2071    891689557279858688
2072    891815181378084864
2073    892177421306343426
2074    892420643555336193
Name: tweet_id, Length: 2075, dtype: object

### 清洁度

#### 表示狗地位的stage:doggo,pupper,puppo,floofer是一列变量

##### 定义
1.通过`replace`方法将`doggo,pupper,puppo,floofer`中的`None`替换为`''`         
2.再用`join`方法将`doggo,pupper,puppo,floofer`组合成一个新列`stage`      
3.`drop`删除`doggo,pupper,puppo,floofer`列

##### 代码

In [296]:
stages = ['doggo', 'pupper', 'puppo', 'floofer']
# 替换None为''
for stage in stages:
    twitter_archives_clean[stage] = twitter_archives_clean[stage].replace('None', '')
#以','为分割符，'doggo', 'pupper', 'puppo', 'floofer'合并为一个值
def join_stage(twitter_archive):
    return ','.join([ value for value in [twitter_archive[stage] for stage in stages] if value != '' ])
twitter_archives_clean['stage'] = twitter_archives_clean.apply(join_stage, axis= 1 )
twitter_archives_clean = twitter_archives_clean.drop(stages, axis=1)

##### 测试

In [301]:
twitter_archives_clean.stage.value_coun

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 14 columns):
tweet_id                      2356 non-null object
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
stage                         2356 non-null object
dtypes: float64(4), int64(2), object(8)
memory usage: 257.8+ KB

#### tweets,image_predictions表中应该是twitter_archives表中的一部分
##### 定义

##### 代码